#root {
  width: 100%;
  margin: 0 auto;
  background: var(--body-color);
  height: 100vh;
  height: -webkit-fill-available;
  color: var(--black-color);
}

* {
  scrollbar-width: none;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center center;
}

.opacity {
  opacity: var(--opacity-value);
}
.pointer {
  cursor: pointer;
}
.body {
  @include body_margin();
}

h1 {
  @include text_h1();
}
h2 {
  @include text_h2();
}
h3 {
  @include text_h3();
}
h4, h5, h6 {
  @include text_subhead();
  color: var(--grey-color);
}
p {
  @include text_body();
}

.react-datepicker-popper {
  z-index: 5 !important;
}

.iconButton {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

/* Фиксированная высота временных слотов */
.fc .fc-timegrid-slot {
  height: 66px !important;
}

/* Для заголовков временных меток */
.fc .fc-timegrid-slot-label {
  height: 66px !important;
}

/* Для контентной части */
.fc .fc-timegrid-slot-lane {
  height: 66px !important;
}

.fc .fc-timegrid-slot {
  height: 66px !important;
}

/* Для заголовков временных меток */
.fc .fc-timegrid-slot-label {
  height: 66px !important;
}


.fc .fc-col-header-cell-cushion {
  @include text_body();
  padding: 0;
  width: 100%;
}

.fc .fc-timegrid-axis-cushion {
  max-width: 100%;
  padding: 0;
}

.fc-timegrid-axis-frame {
  justify-content: flex-start;
}