.container {
  padding: 40px;
  &__title {
    text-align: center;
  }
  &__subtitle {
    margin-top: 30px;
  }
  &__shedules {
    border: 1px solid #000;
    max-width: 50%;
  }
  &__shedule {
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover {
      background-color: var(--ultra-light-grey-color);
    }
  }
  &__button {
    max-width: 50%;
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
  }
}

.popup {
  min-width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  row-gap: 20px;
}