.container {
  margin-bottom: 20px;
  &__title {
    position: relative;
    z-index: 2;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-radius: var(--large-border-radius);
    background-color: var(--dark-white-color);
    padding: 12px 18px;
    @include text_body();
    color: var(--grey-color);
    margin-bottom: -10px;
    &_active {
      background-color: var(--main-color);
      color: var(--body-color);
    }
  }
  &__content {
    border: 1px solid #000;
    border-bottom-left-radius: var(--medium-border-radius);
    border-bottom-right-radius: var(--medium-border-radius);
    border-top: none;
  }
}