.dropLesson {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

.dropZone {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.freeLesson {
  position: relative;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  cursor: pointer;
}

.dragLessonContainer {
  cursor: pointer;
  transition: .4s;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & p {
      line-height: 20px;
    }
  }
  &_error {
    background-color: var(--dangerous-color);
  }
  &_new {
    transition: .4s;
    background-color: #ddd;
  }
}

.dragLessonContainer {
  &_new {
    background-color: #ddd;
  }
  &__delete {
    position: absolute;
    right: 5px;
    top: 5px;
  }
}

.changeZone {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}